* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}

/** --------   UTILITY CLASS -------- */
.margin-bottom-medium {
  margin-bottom: 10px;
}

/** --------  CONTAINER -------- */
.container {
  background-color: #fff;
  transform-origin: top left;
  transition: transform 0.5 linear;
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-12deg);
}

/** --------   CIRCLE CONTAINER -------- */
.circle-container {
  width: 150px;
  height: 150px;
  background-color: rgb(51, 175, 224);
  border-radius: 50%;
  position: fixed;
}

.circle {
  position: relative;
}
#close {
  position: absolute;
  top: 100px;
  left: 18px;
}

#open {
  position: absolute;
  top: 73px;
  left: 80px;
}

/** -------   CONTENT-FRONT ---------- */
.content-front {
}

.flower-image {
  width: 800px;
  height: 500px;
}

ul {
  list-style: none;
}

li {
}
