* {
  box-sizing: border-box;
}
/* make the background black after once the navigation has show */
body {
  overflow-x: hidden;
  background-color: #333;
  color: #222;
  margin: 0;
}

/** --------   UTILITY CLASS -------- */
.margin-bottom-medium {
  margin-bottom: 10px;
}

/** --------  CONTAINER -------- */
.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px 150px;
}

/* Whenver show-nav class will add main container will rotate negetive -20% */
.container.show-nav {
  transform: rotate(-20deg);
}

/** --------   CIRCLE CONTAINER -------- */
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: rgb(51, 175, 224);
  border-radius: 50%;
  position: relative;
}

.circle button {
  position: absolute;
  background-color: transparent;
  outline: 0;
  border: none;
  color: #fafafa;
  top: 50%;
  left: 50%;
  height: 100px;
  font-size: 26px;
  /* transition: transform 0.5s linear; */
  transition: transform 0.5s ease;
}
.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/** -------   CONTENT ---------- */
.content {
  max-width: 1000px;
  margin: 50px auto;
}
.content img {
  max-width: 100%;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  color: #fafafa;
  margin: 40px 0;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 17px;
  margin-right: 10px;
}

.container.show-nav + nav ul li {
  transform: translateX(0);
}

.container.show-nav + nav li {
  transform: translateX(0);
  /* transition-delay: 0.3s; */
  transition: transform 0.5s ease-in;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
  transition: transform 0.5s ease;
}

.container .circle {
  transition: transform 0.5s ease;
}
